*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f4f4f4 ;
}

/* #f4f4f4
#E9A0BD
#BA8FC7
#BFDAEB */
.section-1{
 
    background-color: #BFDAEB ;
   
    padding: 50px;
}
.M-team{
    font-size: 54px;
    text-align: center;
}
.section-2{
   
    /* background-image: url("./executives.jpg"); */
    background: linear-gradient(#00000096,#00000096),url('./executives.jpg');

    /* background: linear-gradient (#0000007c,#0000007c) url("./executives.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    width: 100%;
}
  
.section-2-flex{
    position: relative;
    top: 130px;
    left: 50px;
    margin: 0 auto;
    width: 700px;
    color: #fff;

}
.section-2-flex-h2{
    font-size: 48px;
    text-align: center;
}
.section-2-flex-p{
    font-size: 24px;
    line-height: 1.5em;
    
}
span{
    color: #BFDAEB;
    font-weight: bold;
}
.section-m{
    width: 300px;
    height: 300px;
    
    margin: 20px auto;

}
.section-m img{
    width: 100%;
    height: 100%;
    border: 10px solid #BFDAEB;
    border-radius: 50%;
    
    
}
.section-m h5{
    margin: 20px 0px;
    text-align: center;
    font-size: 18px;
    

}
.section-3-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 50px 0px;
}
.section-3-grid-img{
    width: 200px;
    height: 200px;
    margin: 40px auto;
}
.section-3-grid-img img{
    width: 100%;
    height: 100%;
}
.section-3-grid-img h5{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}
.footer {
    align-items: center;
    background-color: #BFDAEB;
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
  }
  .footer ul li{
    list-style: none;
    float: left;
    padding: 20px;


}

/* .section-2-flex{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;

}
.section-2-flex1{
    width: 70%;
   
}
.section-2-flex1 img{
    width: 100%;
}
.section-2-flex2{
    width: 30%;
}
.section-2-flex2 h2{
    width: 100%;
    margin: 50px 20px 6px;
} */